<div class="container text-center">
    <h1>about page</h1>
    <p>we are a shitty a website. we focus on creating some 
    funky shit for people with no life and big hopes.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus tempora earum fuga obcaecati praesentium! Sed, earum, veritatis, odio, eos ex officia nulla quos repellat explicabo harum culpa magnam molestiae. Nam.</p>
</div>